= render 'connect', service: @service if @service.persisted?

= simple_form_for @service, html: { class: '' } do |f|

  = f.error_notification message: (f.object.errors.full_messages.join("<br />") )

  = f.input :name
  = f.input :backup_storage_provider_id, collection: StorageProvider.all, label: 'Backup Storage Provider', label_method: :label_method

  - if @service.new_record?
    - if @service.hosted?
      = f.input :machine, collection: Machine.all, include_blank: false
    = f.input :hosted, as: :hidden
    = f.input :service_type, as: :hidden
    = f.input :image, collection: @service.available_images, include_blank: false
    = f.input :port

    %h1.lead Environment Variables
    - environment_variables = ::EnvironmentVariablesDecorator.new(@service.default_environment_variables.merge(@service.environment_variables))
    = f.simple_fields_for(environment_variables) do |field|
      - environment_variables.each do |key, value|
        = field.input key, label: key.to_s

  = f.button :submit, 'Save'
  - if @service.persisted?
    - unless @service.locked?
      = link_to (@service.hosted? ? 'Destroy' : 'Remove'), service_path(@service), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' }
    %button.btn.btn-primary{"data-target" => "#connection-#{@service.id}", "data-toggle" => "modal", :type => "button"} Connect
