= content_for :title, "Edit #{@service.name}"

.row
  .col-md-3
    %h1.lead= @service.name
    = render 'form'
  .col-md-9

    %h1.lead
      Backups
      - if @service.can_backup?
        .pull-right
          = link_to '+', service_backups_path(@service), method: :create, class: 'btn btn-success'

    - if @service.backups.any?
      %table.table.table-striped
        %tr
          %th Time
          %th File Name
          %th Status
        - @service.backups.order(created_at: :desc).each do |backup|
          %tr
            %td= backup.created_at
            %td= backup.file_name || '-'
            %td= backup.status
    - else
      %p.alert.alert-info You have no backups yet!
