<h1 class="lead">Services</h1>

<% if @services.any? %>
  <table class="table">
    <tr>
      <th>Service</th>
      <th>Image</th>
      <th>Command</th>
      <th>Container</th>
    </tr>

    <% @services.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= service.service_type %></td>
        <td><code><%= service.connection_command %></code></td>
        <td><%= service.container_id.to_s.first(12) %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p class="alert alert-info">You have not launched any services yet</p>
<% end %>

<%= link_to 'Add Service', new_service_path, class: 'btn btn-primary' %>
