<ol class="breadcrumb">
  <li>Services</li>
  <li>List</li>
</ol>

<% if @services.any? %>
  <table class="table table-striped">
    <tr>
      <th>Service</th>
      <th>Image</th>
      <th>Command</th>
      <th>Container</th>
      <th>Actions</th>
    </tr>

    <% @services.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= service.service_type %></td>
        <td><button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#connection-<%= service.id %>">View Connection Details</button></td>
        <td><%= service.container_id.to_s.first(12) %></td>
        <td>
          <%= link_to 'Destroy', service_path(service), class: 'btn btn-danger btn-xs', method: :delete, data: { confirm: 'Are you sure?' } %>
          <% if service.can_backup? %>
            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#backup-<%= service.id %>">Backup/Restore</button>
          <% end %>
        </td>
      </tr>

      <div class="modal fade" id="connection-<%= service.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Connection Details for <%= service.name %></h4>
            </div>
            <div class="modal-body">
              <%= simple_form_for service do |f| %>
                <%= f.input :connection_command, readonly: true %>
                <%= f.input :connection_string, readonly: true %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <% if service.can_backup? %>
        <div class="modal fade" id="backup-<%= service.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Backup/Restore <%= service.name %></h4>
              </div>
              <div class="modal-body">

                <p class="alert alert-info">Until we get automated backups in place, here is a command to backup this database</p>

                <%= simple_form_for service do |f| %>
                  <%= f.input :backup_command, readonly: true %>
                  <%= f.input :restore_command, readonly: true %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>

    <% end %>
  </table>
<% else %>
  <p class="alert alert-info">You have not launched any services yet</p>
<% end %>

<%= link_to '+ Create', choose_services_path, class: 'btn btn-primary btn-xs' %>
