<h1 class="lead"><%= link_to 'Services', services_path %> > Create a <%= @service.service_type %> Service</h1>

<%= simple_form_for @service do |f| %>
  <%= f.input :service_type, as: :hidden %>
  <%= f.input :image, as: :hidden %>
  <%= f.input :name %>
  <%= f.button :submit %>
<% end %>
