= content_for :title, "Create a #{@service.service_type} Service"

%ol.breadcrumb
  %li
    = link_to 'Services', services_path
  %li.active
    Create a #{@service.service_type} Service

= simple_form_for @service, html: { class: 'well' } do |f|

  = f.error_notification message: (f.object.errors.full_messages.join("<br />") )

  = f.input :hosted, as: :hidden
  = f.input :service_type, as: :hidden
  = f.input :image, as: :hidden
  = f.input :name
  = f.input :backup_storage_provider_id, collection: StorageProvider.all, label: 'Backup Storage Provider', label_method: :label_method

  - default_environment_variables = ::EnvironmentVariablesDecorator.new(@service.default_environment_variables)
  = f.input :port

  %h1.lead Environment Variables

  = f.simple_fields_for(default_environment_variables) do |field|
    - default_environment_variables.each do |key, value|
      = field.input key, label: key.to_s


  = f.button :submit
