<ol class="breadcrumb">
  <li><%= link_to 'Services', services_path %></li>
  <li><%= @service.name %></li>
  <li>Backups</li>
</ol>

<% if @service.backups.any? %>
  <table class="table table-striped">
    <tr>
      <th>Time</th>
      <th>File Name</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>

    <% @service.backups.order(created_at: :desc).each do |backup| %>
      <tr>
        <td><%= backup.created_at %></td>
        <td><%= backup.file_name || '-' %></td>
        <td><%= backup.status %></td>
        <td>
          <%= link_to 'Destroy', service_backup_path(@service, backup), method: :delete, class: 'btn btn-xs btn-danger', data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

<%= link_to '+ Backup', service_backups_path(@service), method: :create, class: 'btn btn-primary btn-xs' %>
