= content_for :title, "#{@service.name} Backups"

%ol.breadcrumb
  %li= link_to 'Services', services_path
  %li= link_to @service.name, edit_service_path(@service)
  %li Backups

- if @service.backup_storage_provider.present?
  %p.alert.alert-success This service is being backed up to <b>#{@service.backup_storage_provider.label_method}</b>
- else
  %p.alert.alert-danger There is no Backup Storage Provider connected

- if @service.backups.any?
  %table.table.table-striped
    %tr
      %th Time
      %th File Name
      %th Status
      %th Actions
    - @service.backups.order(created_at: :desc).each do |backup|
      %tr
        %td
          = backup.created_at
        %td
          = backup.file_name || '-'
        %td
          = backup.status
        %td
          = link_to 'Destroy', service_backup_path(@service, backup), method: :delete, class: 'btn btn-xs btn-danger', data: { confirm: 'Are you sure?' }

- if @service.backup_storage_provider.present?
  = link_to '+ Trigger Backup', service_backups_path(@service), method: :create, class: 'btn btn-primary'
