!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      Container DB#{content_for?(:title) ? " - #{content_for(:title)}" : nil}
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %a.navbar-brand{href: "/"}
            Container DB
        - if user_signed_in?
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            %ul.nav.navbar-nav.navbar-right
              %li
                %a
                  Docker: #{docker_version}
              %li
                = link_to 'Logout', destroy_user_session_path, method: :delete

    .container
      = yield
